XcodeControlUnityDebug/Library/
XcodeControlUnityDebug/.idea/
XcodeControlUnityDebug/Assembly-CSharp-firstpass.csproj
XcodeControlUnityDebug/Assembly-CSharp.csproj
XcodeControlUnityDebug/obj/Debug/Assembly-CSharp-firstpass.csprojAssemblyReference.cache
